.content{
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form h2{
    font-size: 20px;
}

form{
display: flex;
flex-direction: column;
padding: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form input{
width: 420px;
height: 45px;
margin-bottom: 10px;
}

.submit{
    background-color: black;
    color: white;
    transition: ease-in 1s;
}

.submit:hover{
    background-color: blue;

}
