#register {
    padding: 20px;
}

#register-content {
    width: 100%;
    max-width: 60vw;
    margin: 0 auto;
    padding: 15px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group > div {
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

form {
    text-align: left;
}

#register-content h1{
font-size: 30px;
color:#0056b3;
text-align: left;
}
.container-checkbox {
    display: flex;
    flex-direction: column;
}

.container-checkbox label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.container-checkbox input[type="checkbox"] {
    margin-right: 8px;
    vertical-align: middle; /* Ajustamos la alineación vertical */
}





.alert-red {
    color: red;
    font-weight: bold;
}




form div {
    margin: 10px 0;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="submit"] {
    margin-top: 5px;
    width: 100%;
    padding: 8px;
    background-color: #1b1c1d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}

.alert-red {
    color: #ff0000;
    font-size: 14px;
    display: block;
}

#schedule,
#services,
#gender,
#region {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

#schedule:focus,
#services:focus,
#gender:focus,
#region:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.alert-red {
    color: #ff0000;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .group > div {
        width: 100%; /* Una columna en pantallas pequeñas */
    }
}
